@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #1070dd;

    --background-light: #FFFFFF;
    --text-color-light: #000000;

    --background-form-dark: #45494E;
    --text-color-dark: #FFFFFF;
}

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;

}

#login_form {
    background: var(--background-light);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 16px;
    gap: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
    height: fit-content;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 30px;
    position: relative;
}

#social-media img {
    justify-content: center;
    width: 35px;
}

#social-media img:hover {
    transform: scale(1.2);
}

#social-media {
    display: flex;
    justify-content: space-around;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputs-box label {
    font-size: 12px;
    color: var(--text-color-light);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px;
    cursor: text;
    border-bottom: 1px solid var(--text-color-light);
}

.input-field i {
    font-size: 20px;
    color: var(--text-color-light);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0 4px;
}

.input-field input:focus {
    outline: none;
}

#forgot-password a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color-light);
    cursor: pointer;
}

#login-button {
    margin: 0 auto;
    width: 200px;
    border: none;
    background-color: var(--background);
    color: var(--text-color-light);
    padding: 8px;
    border-radius: 12px;
    font-size: 22px;
}

#login-button:hover {
    background-color: #064fa2;
    color: #FFFFFF;
    transform: scale(1.1);
}

:required: