@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #1070dd;

    --background-light: #FFFFFF;
    --text-color-light: #000000;

    --background-form-dark: #45494E;
    --text-color-dark: #FFFFFF;
}

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;

}

#login_form {
    background: var(--background-light);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 16px;
    gap: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
    height: fit-content;
    animation: dark-to-light 0.3s ease-in-out;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mode_icon {
    font-size: 22px;
    cursor: pointer;
    transition: 0.1s;
}

#mode_icon:hover {
    transform: scale(1.1);
}


#form_header h1 {
    font-size: 30px;
    position: relative;
}

#social-media img {
    justify-content: center;
    width: 35px;
}

#social-media img:hover {
    transform: scale(1.2);
}

#social-media {
    display: flex;
    margin: 0 auto;
    gap: 26px;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputs-box label {
    font-size: 12px;
    color: var(--text-color-light);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px;
    cursor: text;
    border-bottom: 1px solid var(--text-color-light);
}

.input-field i {
    font-size: 20px;
    color: var(--text-color-light);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 320px;
    font-size: 18px;
    padding: 0 4px;
}

.input-field input:focus {
    outline: none;
}

#forgot-password a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color-light);
    cursor: pointer;
}

#login-button {
    margin: 0 auto;
    width: 200px;
    border: none;
    background-color: var(--background);
    color: var(--text-color-light);
    padding: 8px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

#login-button:hover {
    transform: scale(1.1);
}

.dark#login_form {
    color: var(--text-color-dark);
    background-color: var(--background-form-dark);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark#login_form .input-field input {
    color: var(--text-color-dark);
}

.dark#login_form .input-field i {
    color: var(--text-color-dark);
}

.dark#login_form label,
.dark#login_form #forgot-password a {
    color: var(--text-color-dark);
}

.dark#login_form .input-field {
    border-bottom: 1px solid var(--text-color-dark);
}


.dark#login_form button {
    background-color: var(--background-light);
    color: var(--text-color-light);
    border: 1px solid var(--text-color-dark);
}

.dark#login_form button:hover {
    transform: scale(1.1);
}

@keyframes dark-to-light {
    0% {
        background-color: var(--background-form-dark);
    }

    100% {
        background-color: var(--background-light);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--background-form-light);
    }

    100% {
        background-color: var(--background-form-dark);
    }
}